{{ define "navbar" }}
  <h2 class="header__title">
    <a href="/"> PASSENGER </a>
  </h2>
  <nav class="header__menu">
    <ul class="header__menu-list">
      <li
        x-data="{open: false}"
        @mouseover="open = true"
        @mouseout="open = false"
        class="header__menu-item"
      >
        <a class="header__menu-link" href="/collections/women">Women</a>
        <div x-show="open" class="header__sub-menu">
          <div class="header__sub-menu-container">
            <h3>Womens Menu Items</h3>
          </div>
        </div>
      </li>
      <li
        x-data="{open: false}"
        @mouseover="open = true"
        @mouseout="open = false"
        class="header__menu-item"
      >
        <a class="header__menu-link" href="/collections/mens">Men</a>
        <div x-show="open" class="header__sub-menu">
          <div class="header__sub-menu-container">
            <div class="header__sub-menu-left">
              <a class="header__sub-menu-category" href="/">Featured</a>
              <ul>
                <li>
                  <a href="/collections/mens">Shop All</a>
                </li>
                <li>
                  <!-- Update URL -->
                  <a href="/collections/mens">New Arrivals</a>
                </li>
                <li>
                  <!-- Update URL -->
                  <a href="/collections/mens">Best Sellers</a>
                </li>
              </ul>
            </div>
            <div class="header__sub-menu-middle">
              <ul>
                <li>
                  <a
                    class="header__sub-menu-category"
                    href="/collections/mens?category=jackets"
                    >Jackets</a
                  >
                </li>
                <li>
                  <a
                    class="header__sub-menu-category"
                    href="/collections/mens?active=true"
                    >Outdoor Active</a
                  >
                </li>
                <li>
                  <a
                    class="header__sub-menu-category"
                    href="/collections/mens?category=tops"
                    >Tops</a
                  >
                </li>
                <li>
                  <a
                    class="header__sub-menu-category"
                    href="/collections/mens?category=bottoms"
                    >Bottoms</a
                  >
                </li>
              </ul>
            </div>
            <div class="header__sub-menu-right"></div>
          </div>
        </div>
      </li>
      <li
        x-data="{open: false}"
        @mouseover="open = true"
        @mouseout="open = false"
        class="header__menu-item"
      >
        <a class="header__menu-link" href="/collections/packs-gear"
          >Packs & Gear</a
        >
        <div x-show="open" class="header__sub-menu">
          <h3>Packs & Gear Menu Items</h3>
        </div>
      </li>
      <li
        x-data="{open: false}"
        @mouseover="open = true"
        @mouseout="open = false"
        class="header__menu-item"
      >
        <a class="header__menu-link" href="/blog/our-story">Our Story</a>
        <div x-show="open" class="header__sub-menu">
          <h3>Our Story Menu Items</h3>
        </div>
      </li>
      <li
        x-data="{open: false}"
        @mouseover="open = true"
        @mouseout="open = false"
        class="header__menu-item"
      >
        <a class="header__menu-link" href="/collections/outlet">Outlet</a>
        <div x-show="open" class="header__sub-menu">
          <h3>Outlet Menu Items</h3>
        </div>
      </li>
    </ul>
  </nav>
  <div class="header__icons"></div>
{{ end }}
