{{define "navbar"}}
<h1 class="header__title">
  <a href="/">
    PASSENGER
  </a>
</h1>
<nav class="header__menu">
  <ul>
    <li>
      <a href="/collections/women">Women</a>
    </li>
    <li>
      <a href="/collections/men">Men</a>
    </li>
    <li>
      <a href="/collections/packs-gear">Packs & Gear</a>
    </li>
    <li>
      <a href="/blog/our-story">Our Story</a>
    </li>
    <li>
      <a href="/collections/outlet">Outlet</a>
    </li>
  </ul>
</nav>
<div class="header__icons">
  
</div>
{{end}}