{{ define "navbar" }}
  <h2 class="header__title">
    <a href="/"> PASSENGER </a>
  </h2>
  <nav class="header__menu">
    <ul>
      <li
        x-data="{open: false}"
        @mouseover="open = true"
        @mouseout="open = false"
        class="header__menu-item"
      >
        <a class="header__menu-link" href="/collections/women">Women</a>
        <div x-show="open" class="header__sub-menu">
          <div class="header__sub-menu-container">
            <h3>Womens Menu Items</h3>
          </div>
        </div>
      </li>
      <li
        x-data="{open: false}"
        @mouseover="open = true"
        @mouseout="open = false"
        class="header__menu-item"
      >
        <a class="header__menu-link" href="/collections/men">Men</a>
        <div x-show="open" class="header__sub-menu">
          <h3>Mens Menu Items</h3>
        </div>
      </li>
      <li
        x-data="{open: false}"
        @mouseover="open = true"
        @mouseout="open = false"
        class="header__menu-item"
      >
        <a class="header__menu-link" href="/collections/packs-gear"
          >Packs & Gear</a
        >
        <div x-show="open" class="header__sub-menu">
          <h3>Packs & Gear Menu Items</h3>
        </div>
      </li>
      <li
        x-data="{open: false}"
        @mouseover="open = true"
        @mouseout="open = false"
        class="header__menu-item"
      >
        <a class="header__menu-link" href="/blog/our-story">Our Story</a>
        <div x-show="open" class="header__sub-menu">
          <h3>Our Story Menu Items</h3>
        </div>
      </li>
      <li
        x-data="{open: false}"
        @mouseover="open = true"
        @mouseout="open = false"
        class="header__menu-item"
      >
        <a class="header__menu-link" href="/collections/outlet">Outlet</a>
        <div x-show="open" class="header__sub-menu">
          <h3>Outlet Menu Items</h3>
        </div>
      </li>
    </ul>
  </nav>
  <div class="header__icons"></div>
{{ end }}
